<!-- <app-checkbill></app-checkbill> -->
<div class="fixed-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-black">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link nav-font">
          <span class="glyphicon glyphicon-align-justify toggle-icon"></span>
        </a>
        </li>
        <li>
          <img
            src="//cdn.shopify.com/s/files/1/0016/4416/7203/files/LOGO_255x.jpg?v=1563789225"
            srcset="
              //cdn.shopify.com/s/files/1/0016/4416/7203/files/LOGO_255x.jpg?v=1563789225    1x,
              //cdn.shopify.com/s/files/1/0016/4416/7203/files/LOGO_255x@2x.jpg?v=1563789225 2x
            "
            width="132px"
            height="47px"
            id="imgSony"
          />
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font" href="#"
            >Play Station <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link nav-font nav-font" href="#">Xperia</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle nav-font"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Televisions & Home Cinema
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle nav-font"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Audio
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle nav-font"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Cameras
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle nav-font"
            href="#"
            id="navbarDropdown"
            role="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Video Cameras
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
    </div>

    <div  id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link nav-font nav-font" href="#">
            <span class="glyphicon glyphicon-search"></span>
            search
          </a>
        </li>
        <li>
          <a class="nav-link nav-font nav-font" href="#">
            <span class="glyphicon glyphicon-heart"></span>
          </a>
        </li>
        <li>
          <a class="nav-link nav-font nav-font">
            <span
              class="glyphicon glyphicon-shopping-cart"
              [routerLink]="['/checkbill']"
            ></span>
            <span class="badge badge-light">{{ sumProduct }}</span>
          </a>
        </li>
        <li>
          <a class="nav-link nav-font nav-font" href="#">
            <span class="glyphicon glyphicon-user"></span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</div>

<div class="row">
  <div class="col-12">
    <router-outlet></router-outlet>
  </div>
</div>
